---
export interface Driver {
  full_name: string;
  team_name: string;
  country_code: string;
  headshot_url: string | null;
  driver_number: number;
  team_colour: string;
}

const { team_name, team_colour, country_code, driver_number, headshot_url, full_name } = Astro.props;
---

<div
  class="flex flex-col items-center bg-gray-800 p-4 rounded-lg shadow-lg"
  style={`border-top: 4px solid #${team_colour}`}
>
  <div class="w-24 h-24 overflow-hidden rounded-full mb-4">
    <img
      src={headshot_url || "https://via.placeholder.com/150"}
      alt={`${full_name} headshot`}
      class="w-full h-full object-cover"
    />
  </div>
  <h2 class="text-lg font-semibold text-zinc-100 text-center">{full_name}</h2>
  <h3 class="text-md text-zinc-400 text-center">{team_name}</h3>
  <p class="text-sm text-zinc-500 text-center">{country_code}</p>
  <span class="mt-2 text-sm font-bold text-white bg-zinc-700 px-2 py-1 rounded-full">
    #{driver_number}
  </span>
</div>
