---
import { type Drivers } from "../types/types";
import Card from "./Card.astro";

const res = await fetch("https://api.openf1.org/v1/drivers?session_key=latest", {
  method: "GET",
  headers: {
    "Content-Type": "application/json",
  },
});
const drivers = (await res.json()) as Drivers[];
---

<div class="grid gap-4 sm:grid-cols-4 lg:grid-cols-2 p-4">
  {
    drivers.map((driver) => (
      <Card
        full_name={driver.full_name}
        team_name={driver.team_name}
        country_code={driver.country_code}
        headshot_url={driver.headshot_url}
        driver_number={driver.driver_number}
        team_colour={driver.team_colour}
      />
    ))
  }
</div>
